USE [master]
GO
/****** Object:  Database [CAPSTONE]    Script Date: 6.06.2024 23:30:18 ******/
CREATE DATABASE [CAPSTONE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAPSTONE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CAPSTONE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CAPSTONE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CAPSTONE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAPSTONE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAPSTONE]
GO
/****** Object:  Table [dbo].[CITY]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[ID_CITY] [int] NOT NULL,
	[ID_COUNTRY] [int] NOT NULL,
	[CITY_NAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CITY] PRIMARY KEY CLUSTERED 
(
	[ID_CITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTRY]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRY](
	[ID_COUNTRY] [int] NOT NULL,
	[COUNTRY_NAME] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_COUNTRY] PRIMARY KEY CLUSTERED 
(
	[ID_COUNTRY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[ID_FACTORY_DEALER] [int] IDENTITY(1,1) NOT NULL,
	[FACTORY_DEALER_NAME] [nvarchar](100) NOT NULL,
	[FACTORY_DEALER_PHONE_CODE] [nvarchar](20) NULL,
	[FACTORY_DEALER_PHONE] [nvarchar](20) NOT NULL,
	[CONTACT_PERSON] [nvarchar](100) NOT NULL,
	[DISTRICT] [int] NULL,
	[CITY] [nvarchar](100) NULL,
	[COUNTRY] [datetime] NULL,
	[FULL_ADDRESS] [nvarchar](100) NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID_FACTORY_DEALER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRICT](
	[ID_DISTRICT] [int] IDENTITY(1,1) NOT NULL,
	[ID_CITY] [int] NULL,
	[DISTRICT_NAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_DISTRICT] PRIMARY KEY CLUSTERED 
(
	[ID_DISTRICT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTORY_DEALER]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTORY_DEALER](
	[ID_FACTORY_DEALER] [int] IDENTITY(1,1) NOT NULL,
	[FACTORY_DEALER_EMAIL] [nvarchar](50) NULL,
	[FACTORY_DEALER_PASSWORD] [nvarchar](50) NULL,
	[FACTORY_DEALER_NAME] [nvarchar](100) NULL,
	[FACTORY_DEALER_PHONE_CODE] [nvarchar](20) NULL,
	[FACTORY_DEALER_PHONE] [nvarchar](20) NULL,
	[CONTACT_PERSON] [nvarchar](100) NULL,
 CONSTRAINT [PK_FACTORY_DEALER] PRIMARY KEY CLUSTERED 
(
	[ID_FACTORY_DEALER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTORY_DEALER_ADDRESS]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTORY_DEALER_ADDRESS](
	[ID_FACTORY_DEALER_ADDRESS] [int] IDENTITY(1,1) NOT NULL,
	[ID_FACTORY_DEALER] [int] NULL,
	[ID_COUNTRY] [int] NULL,
	[ID_CITY] [int] NULL,
	[ID_DISTRICT] [int] NULL,
	[FACTORY_DEALER_FULL_ADDRESS] [nvarchar](500) NULL,
 CONSTRAINT [PK_FACTORY_DEALER_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID_FACTORY_DEALER_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTORY_PRODUCT]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTORY_PRODUCT](
	[ID_FACTORY_PRODUCT] [int] IDENTITY(1,1) NOT NULL,
	[FACTORY_PRODUCT_EMAIL] [nvarchar](50) NULL,
	[FACTORY_PRODUCT_PASSWORD] [nvarchar](50) NULL,
	[FACTORY_PRODUCT_NAME] [nvarchar](100) NULL,
	[FACTORY_PRODUCT_PHONE_CODE] [nvarchar](20) NULL,
	[FACTORY_PRODUCT_PHONE] [nvarchar](20) NULL,
	[CONTACT_PERSON] [nvarchar](100) NULL,
 CONSTRAINT [PK_FACTORY_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ID_FACTORY_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTORY_PRODUCT_ADDRESS]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTORY_PRODUCT_ADDRESS](
	[ID_FACTORY_PRODUCT_ADDRESS] [int] IDENTITY(1,1) NOT NULL,
	[ID_FACTORY_PRODUCT] [int] NULL,
	[ID_COUNTRY] [int] NULL,
	[ID_CITY] [int] NULL,
	[ID_DISTRICT] [int] NULL,
	[FACTORY_PRODUCT_FULL_ADDRESS] [nvarchar](500) NULL,
 CONSTRAINT [PK_FACTORY_PRODUCT_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID_FACTORY_PRODUCT_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ID_ORDER_STATUS]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ID_ORDER_STATUS](
	[ID_ORDER_STATUS] [int] NOT NULL,
	[ORDER_STATUS_NAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_ID_ORDER_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID_ORDER_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL](
	[ID_MATERIAL] [int] IDENTITY(1,1) NOT NULL,
	[MATERIAL_CODE] [nvarchar](100) NULL,
	[MATERIAL_NAME] [nvarchar](100) NULL,
	[MATERIAL_DESC] [nvarchar](500) NULL,
	[ID_UNIT] [int] NULL,
	[CREDATE] [datetime] NULL,
	[CREUSER] [int] NULL,
 CONSTRAINT [PK_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[ID_MATERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL_GROUP]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL_GROUP](
	[ID_MATERIAL_GROUP] [int] NOT NULL,
	[MATERIAL_GROUP_NAME] [nvarchar](100) NULL,
	[MATERIAL_GROUP_DESC] [nvarchar](100) NULL,
	[CREDATE] [datetime] NULL,
	[CREUSER] [int] NULL,
 CONSTRAINT [PK_MATERIAL_GROUP] PRIMARY KEY CLUSTERED 
(
	[ID_MATERIAL_GROUP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAL_SUPPLIER]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAL_SUPPLIER](
	[ID_MATERIAL_SUPPLIER] [int] NOT NULL,
	[ID_MATERIAL] [int] NULL,
	[ID_SUPPLIER] [int] NULL,
	[SUPPLIER_CODE] [nvarchar](50) NULL,
	[CREDATE] [datetime] NULL,
	[CREUSER] [int] NULL,
 CONSTRAINT [PK_MATERIAL_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[ID_MATERIAL_SUPPLIER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_ADDRESS]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_ADDRESS](
	[ID_ORDER_ADDRESS] [int] NOT NULL,
	[ID_ORDER] [int] NULL,
	[ID_CUSTOMER_ADDRESS] [int] NULL,
	[CUSTOMER_ADDRESS_NAME] [nvarchar](100) NULL,
	[CUSTOMER_ADDRESS_COUNTRY] [nvarchar](50) NULL,
	[CUSTOMER_ADDRESS_CITY] [nvarchar](50) NULL,
	[CUSTOMER_ADDRESS_DISTRICT] [nvarchar](50) NULL,
	[CUSTOMER_ADDRESS_ADDRESS] [nvarchar](100) NULL,
	[CUSTOMER_TAX_NUMBER] [nvarchar](50) NULL,
	[CUSTOMER_COMPANY_NAME] [nvarchar](100) NULL,
	[CREDATE] [datetime] NULL,
	[CREUSER] [int] NULL,
 CONSTRAINT [PK_ORDER_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID_ORDER_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAIL_STATUS]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAIL_STATUS](
	[ID_ORDER_DETAIL_STATUS] [int] NOT NULL,
	[ORDER_DETAIL_STATUS_NAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_ORDER_DETAIL_STATUS] PRIMARY KEY CLUSTERED 
(
	[ID_ORDER_DETAIL_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_DETAILS]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_DETAILS](
	[ID_ORDER_DETAIL] [int] IDENTITY(1,1) NOT NULL,
	[ID_ORDER] [int] NULL,
	[ID_WAREHOUSE] [int] NULL,
	[REQUESTED_QUANTITY] [int] NULL,
	[MATERIAL_UNIT] [nchar](10) NULL,
	[MATERIAL_PRICE] [nchar](10) NULL,
	[ID_MATERIAL] [int] NULL,
	[QUANTITY] [decimal](18, 2) NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[ID_ORDER_DETAIL_STATUS] [int] NULL,
	[OPERATION_MANUFACTURE_DATE] [date] NULL,
	[OPERATION_DISPATCHMENT_DATE] [date] NULL,
	[CREDATE] [datetime] NULL,
	[CREUSER] [int] NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ID_ORDER_DETAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID_ORDER] [int] IDENTITY(1,1) NOT NULL,
	[LOCATION] [nvarchar](50) NULL,
	[ORDER_DATE] [date] NULL,
	[ITEM_COUNT] [int] NULL,
	[ORDER_PRICE] [decimal](18, 4) NULL,
	[ID_MATERIAL] [int] NULL,
	[ID_CUSTOMER] [int] NULL,
	[ID_ORDER_STATUS] [int] NULL,
	[ID_SERVICE_AREA] [int] NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[IS_CANCEL_PROCESS] [bit] NULL,
	[CANCEL_DESCRIPTION] [nvarchar](1250) NULL,
	[SELLER_DESCRIPTION] [nvarchar](500) NULL,
	[ID_ORDER_RESPONSIBLE] [int] NULL,
	[DELIVERY_DATE] [datetime] NULL,
	[IS_APPROVED] [bit] NULL,
	[APPROVED_DATE] [datetime] NULL,
	[APPROVED_USER] [int] NULL,
	[ID_USER_RESPONSIBLE] [int] NULL,
	[CREDATE] [datetime] NULL,
	[CREUSER] [int] NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ID_ORDER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ADDRESS]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ADDRESS](
	[ID_USER_ADDRESS] [int] NOT NULL,
	[ID_USER] [int] NULL,
	[USER_ADDRESS_NAME] [nvarchar](100) NULL,
	[USER_ADDRESS_COUNTRY] [nvarchar](50) NULL,
	[USER_ADDRESS_CITY] [nvarchar](50) NULL,
	[USER_ADDRESS_DISTRICT] [nvarchar](50) NULL,
	[USER_ADDRESS_ADDRESS] [nvarchar](500) NULL,
	[USER_TAX_NUMBER] [nvarchar](50) NULL,
	[USER_COMPANY_NAME] [nvarchar](100) NULL,
	[CREDATE] [datetime] NULL,
	[CREUSER] [int] NULL,
	[TRANSACTION_DESC] [nvarchar](200) NULL,
 CONSTRAINT [PK_CUSTOMER_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID_USER_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAREHOUSE]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSE](
	[ID_WAREHOUSE] [int] IDENTITY(1,1) NOT NULL,
	[WAREHOUSE_NAME] [nvarchar](100) NULL,
	[CONTACT_PERSON] [nvarchar](100) NULL,
	[CONTACT_PERSON_PHONE_CODE] [nvarchar](20) NULL,
	[CONTACT_PERSON_PHONE] [nvarchar](20) NULL,
	[CREDATE] [datetime] NULL,
	[CREUSER] [int] NULL,
 CONSTRAINT [PK_WAREHOUSE] PRIMARY KEY CLUSTERED 
(
	[ID_WAREHOUSE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAREHOUSE_ADDRESS]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAREHOUSE_ADDRESS](
	[ID_WAREHOUSE_ADDRESS] [int] IDENTITY(1,1) NOT NULL,
	[ID_WAREHOUSE] [int] NULL,
	[ID_COUNTRY] [int] NULL,
	[ID_CITY] [int] NULL,
	[ID_DISTRICT] [int] NULL,
	[WAREHOUSE_FULL_ADDRESS] [nvarchar](500) NULL,
 CONSTRAINT [PK_WAREHOUSE_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID_WAREHOUSE_ADDRESS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WH_MATERIAL]    Script Date: 6.06.2024 23:30:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WH_MATERIAL](
	[ID_WH_MATERIAL] [int] IDENTITY(1,1) NOT NULL,
	[ID_WAREHOUSE] [int] NULL,
	[ID_MATERIAL] [int] NULL,
	[MATERIAL_STOCK] [decimal](18, 2) NULL,
 CONSTRAINT [PK_WH_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[ID_WH_MATERIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ORDERS] ADD  CONSTRAINT [DF_ORDERS_ORDER_DATE]  DEFAULT (getdate()) FOR [ORDER_DATE]
GO
ALTER TABLE [dbo].[CITY]  WITH CHECK ADD  CONSTRAINT [FK_CITY_COUNTRY] FOREIGN KEY([ID_COUNTRY])
REFERENCES [dbo].[COUNTRY] ([ID_COUNTRY])
GO
ALTER TABLE [dbo].[CITY] CHECK CONSTRAINT [FK_CITY_COUNTRY]
GO
ALTER TABLE [dbo].[FACTORY_DEALER_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_FACTORY_DEALER_ADDRESS_COUNTRY] FOREIGN KEY([ID_COUNTRY])
REFERENCES [dbo].[COUNTRY] ([ID_COUNTRY])
GO
ALTER TABLE [dbo].[FACTORY_DEALER_ADDRESS] CHECK CONSTRAINT [FK_FACTORY_DEALER_ADDRESS_COUNTRY]
GO
ALTER TABLE [dbo].[FACTORY_DEALER_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_FACTORY_DEALER_ADDRESS_DISTRICT] FOREIGN KEY([ID_DISTRICT])
REFERENCES [dbo].[DISTRICT] ([ID_DISTRICT])
GO
ALTER TABLE [dbo].[FACTORY_DEALER_ADDRESS] CHECK CONSTRAINT [FK_FACTORY_DEALER_ADDRESS_DISTRICT]
GO
ALTER TABLE [dbo].[FACTORY_DEALER_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_FACTORY_DEALER_ADDRESS_FACTORY_DEALER] FOREIGN KEY([ID_FACTORY_DEALER])
REFERENCES [dbo].[FACTORY_DEALER] ([ID_FACTORY_DEALER])
GO
ALTER TABLE [dbo].[FACTORY_DEALER_ADDRESS] CHECK CONSTRAINT [FK_FACTORY_DEALER_ADDRESS_FACTORY_DEALER]
GO
ALTER TABLE [dbo].[FACTORY_PRODUCT_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_FACTORY_PRODUCT_ADDRESS_COUNTRY] FOREIGN KEY([ID_COUNTRY])
REFERENCES [dbo].[COUNTRY] ([ID_COUNTRY])
GO
ALTER TABLE [dbo].[FACTORY_PRODUCT_ADDRESS] CHECK CONSTRAINT [FK_FACTORY_PRODUCT_ADDRESS_COUNTRY]
GO
ALTER TABLE [dbo].[FACTORY_PRODUCT_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_FACTORY_PRODUCT_ADDRESS_DISTRICT] FOREIGN KEY([ID_DISTRICT])
REFERENCES [dbo].[DISTRICT] ([ID_DISTRICT])
GO
ALTER TABLE [dbo].[FACTORY_PRODUCT_ADDRESS] CHECK CONSTRAINT [FK_FACTORY_PRODUCT_ADDRESS_DISTRICT]
GO
ALTER TABLE [dbo].[FACTORY_PRODUCT_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_FACTORY_PRODUCT_ADDRESS_FACTORY_PRODUCT] FOREIGN KEY([ID_FACTORY_PRODUCT])
REFERENCES [dbo].[FACTORY_PRODUCT] ([ID_FACTORY_PRODUCT])
GO
ALTER TABLE [dbo].[FACTORY_PRODUCT_ADDRESS] CHECK CONSTRAINT [FK_FACTORY_PRODUCT_ADDRESS_FACTORY_PRODUCT]
GO
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAILS_MATERIAL] FOREIGN KEY([ID_MATERIAL])
REFERENCES [dbo].[MATERIAL] ([ID_MATERIAL])
GO
ALTER TABLE [dbo].[ORDER_DETAILS] CHECK CONSTRAINT [FK_ORDER_DETAILS_MATERIAL]
GO
ALTER TABLE [dbo].[ORDER_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_DETAILS_ORDERS] FOREIGN KEY([ID_ORDER])
REFERENCES [dbo].[ORDERS] ([ID_ORDER])
GO
ALTER TABLE [dbo].[ORDER_DETAILS] CHECK CONSTRAINT [FK_ORDER_DETAILS_ORDERS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_MATERIAL] FOREIGN KEY([ID_MATERIAL])
REFERENCES [dbo].[MATERIAL] ([ID_MATERIAL])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_MATERIAL]
GO
ALTER TABLE [dbo].[WAREHOUSE_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUSE_ADDRESS_COUNTRY] FOREIGN KEY([ID_COUNTRY])
REFERENCES [dbo].[COUNTRY] ([ID_COUNTRY])
GO
ALTER TABLE [dbo].[WAREHOUSE_ADDRESS] CHECK CONSTRAINT [FK_WAREHOUSE_ADDRESS_COUNTRY]
GO
ALTER TABLE [dbo].[WAREHOUSE_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUSE_ADDRESS_COUNTRY1] FOREIGN KEY([ID_COUNTRY])
REFERENCES [dbo].[COUNTRY] ([ID_COUNTRY])
GO
ALTER TABLE [dbo].[WAREHOUSE_ADDRESS] CHECK CONSTRAINT [FK_WAREHOUSE_ADDRESS_COUNTRY1]
GO
ALTER TABLE [dbo].[WAREHOUSE_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUSE_ADDRESS_DISTRICT] FOREIGN KEY([ID_DISTRICT])
REFERENCES [dbo].[DISTRICT] ([ID_DISTRICT])
GO
ALTER TABLE [dbo].[WAREHOUSE_ADDRESS] CHECK CONSTRAINT [FK_WAREHOUSE_ADDRESS_DISTRICT]
GO
ALTER TABLE [dbo].[WAREHOUSE_ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_WAREHOUSE_ADDRESS_WAREHOUSE] FOREIGN KEY([ID_WAREHOUSE])
REFERENCES [dbo].[WAREHOUSE] ([ID_WAREHOUSE])
GO
ALTER TABLE [dbo].[WAREHOUSE_ADDRESS] CHECK CONSTRAINT [FK_WAREHOUSE_ADDRESS_WAREHOUSE]
GO
ALTER TABLE [dbo].[WH_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_WH_MATERIAL_MATERIAL] FOREIGN KEY([ID_MATERIAL])
REFERENCES [dbo].[MATERIAL] ([ID_MATERIAL])
GO
ALTER TABLE [dbo].[WH_MATERIAL] CHECK CONSTRAINT [FK_WH_MATERIAL_MATERIAL]
GO
ALTER TABLE [dbo].[WH_MATERIAL]  WITH CHECK ADD  CONSTRAINT [FK_WH_MATERIAL_WAREHOUSE] FOREIGN KEY([ID_WAREHOUSE])
REFERENCES [dbo].[WAREHOUSE] ([ID_WAREHOUSE])
GO
ALTER TABLE [dbo].[WH_MATERIAL] CHECK CONSTRAINT [FK_WH_MATERIAL_WAREHOUSE]
GO
USE [master]
GO
